body, html, #map {
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background-color: #D1DBBD;
}

i {
  color: #193441;
}

.map-section {
  height: 80%;
  position: relative;
}

.controls {
  z-index: 100;
  width: 100%;
  text-align: center;
  height: 20%;
  display: table;
  table-layout: fixed;
}

.controls .selectbox {
  margin: 0 -1px;
  width: 33.5%;
  background-color: rgba(230,230,230,0.95);
  display: table-cell;
  vertical-align: middle;
  box-shadow: inset -1px -4px 3px rgba(0, 0, 0, 0.45);
  border-top: 1px solid #91AA9D;
}

.controls .selectbox.active i {
  color: #5B98A6;
}

.controls .selectbox:hover {
  background-color: rgba(240,240,240,0.95);
}

.controls #left.selectbox {
  background-color: #FCFFF5;
}

.controls #middle.selectbox {
  background-color: #D1DBBD;
}

.controls #right.selectbox {
  background-color: #91AA9D;
}

.controls .selectbox i {
  text-align: center;
  font-size: 5em;
}

.mapcontrols > div {
  z-index: 300;
  font-size: 60px;
  width: 80px;
  height: 80px;
  position: absolute;
  text-align: center;
}

.mapcontrols .vertical {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 150px;
  width: 300px;
  line-height: 150px;
  vertical-align: middle;
}

.mapcontrols .horizontal {
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  line-height: 300px;
  vertical-align: middle;
  height: 300px;
  width: 150px;
}

.zoomcontrols {
  position: absolute;
  height: 70%;
  top: 15%;
  left: 30%;
  margin-bottom: auto;
  margin-right: auto;
}

.zoomcontrols div {
  width: 200px;
  height: 200px;
  line-height: 200px;
  vertical-align: middle;
}

.zoomcontrols div i {
  vertical-align: middle;
}

.zoomcontrols .top {
  top: 0;
}

.zoomcontrols .bottom {
  bottom: 0;
}

.up {
  top: 20px;
}

.down {
  bottom: 20px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.cursor {
  position: absolute;
  font-size: 40px;
  z-index: 200;
}

.cursor * {
  display: none;
}

.controls button {
  margin: 20px;
}

.map-canvas {
  height: 100%;
  cursor: none !important;
}

button.clearbtn, button.disconnect, button.complete {
  z-index: 300;
  position: absolute;
  width: 200px;
  height: 80px;
}

button.disconnect {
  width: 100px;
  height: 50px;
}

button.complete {
  width: 400px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 20px;
}

button.complete i {
  font-size: 40px;
}

button.clearbtn i {
  font-size: 40px;
}

#loader {
  position: absolute;
  z-index: 1000;
  display: none;
}

button.startbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150px;
  width: 300px;
  margin-top: -75px;
  margin-left: -150px;
  font-size: 65px;
}

button.startbtn i {
  display: block;
  top: 7px;
}

.mapcontrols .eyestatus {
  width: 150px;
  height: 70px;
}

i.pointer {
  z-index: 10000;

}
