<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <section id="map" ng-mousemove="mousemove($event)" ng-controller="MapCtrl" >
      <div class="map-section">
        <div
          id="loader"
          round-progress
          max="100"
          current="current"
          color="#3E606F"
          bgcolor="#eaeaea"
          radius="20"
          stroke="10">
        </div>
        <div ng-if="showMove" class="mapcontrols movementcontrols">
          <div ng-click="moveup()" class="up vertical clickable"><i ng-click="moveup()" class="clickable glyphicon glyphicon-chevron-up"></i></div>
          <div ng-click="movedown()" class="down vertical clickable"><i ng-click="movedown()" class="clickable glyphicon glyphicon-chevron-down"></i></div>
          <div ng-click="moveleft()" class="left horizontal clickable"><i ng-click="moveleft()" class="clickable glyphicon glyphicon-chevron-left"></i></div>
          <div ng-click="moveright()" class="right horizontal clickable"><i ng-click="moveright()" class="clickable glyphicon glyphicon-chevron-right"></i></div>
        </div>
        <div ng-if="showZoom" class="mapcontrols zoomcontrols">
          <div ng-click="zoomout()" class="top clickable"><i ng-click="zoomout()" class="clickable glyphicon glyphicon-minus-sign"></i></div>
          <div ng-click="zoomin()" class="bottom clickable"><i ng-click="zoomin()" class="clickable glyphicon glyphicon-plus-sign"></i></div>
        </div>
        <button ng-click="clear()" ng-if="clickActive" class="clearbtn right top btn btn-lg btn-danger clickable"><i class="glyphicon glyphicon-remove"></i></button>
        <div ui-map="myMap" ui-event="{'map-click': 'addMarker($event, $params)'}" ui-options="mapOptions" class="map-canvas"></div>
      </div>
      <div class="controls clearfix">
        <div ng-class="{'active': showMove}" ng-click="toggleMove()" id="left" class="selectbox clickable">
          <i class="glyphicon glyphicon-move"></i>
        </div>
        <div ng-class="{'active': showZoom}" ng-click="toggleZoom()" id="middle" class="selectbox clickable">
          <i class="glyphicon glyphicon-zoom-in"></i>
        </div>
        <div ng-class="{'active': clickActive}" ng-click="toggleClick()" id="right" class="selectbox clickable">
          <i class="glyphicon glyphicon-map-marker"></i>
        </div>
      </div>
    </section>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/angular-ui-map/ui-map.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-svg-round-progressbar/roundProgress.js"></script>
    <script src="bower_components/angular-websocket/angular-websocket.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <!-- endbuild -->

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>
    <script type="text/javascript">
      function onGoogleReady() {
        angular.bootstrap(document.getElementById("map"), ['int14App']);
      }
    </script>
</body>
</html>
